version: '3.8'
services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: pm_db
      POSTGRES_USER: pm_user
      POSTGRES_PASSWORD: pm_pass
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - '8000:8000'
    environment:
      - DEBUG=1
      - POSTGRES_DB=pm_db
      - POSTGRES_USER=pm_user
      - POSTGRES_PASSWORD=pm_pass
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db

volumes:
  pgdata:
